head
  title EText | Forgot password
  link(rel='shortcut icon' href='/img/icon.png')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  // CSS Imports
  link(rel='stylesheet' href='/css/index.css')
  link(rel='stylesheet' href='/css/auth.css')
  link(rel='stylesheet' href='/css/forgotPassword.css')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap')
body
  header
    a(href='/')
      img(src='./img/icon.svg', alt='EText') 
  main
    form(action='/api/user/forgotPassword' method='POST')
      h1 Forgot password
      hr.medium
      input(type='email' name='email' placeholder='Email')
      button(type='submit') Reset password
      a(href='/login')#back ↩ Back
  footer
    script(src='/js/index.js')
