head
  title EText
  link(rel='stylesheet' href='css/index.css')
body
  header
    div#icon
      img(src='img/icon.png')
      div#title
        h1 EText
        h2 Formal, yet efficient
    div#signIn
      button Sign in
      button Sign up
  main
  footer
