head
  title EText
  link(rel='shortcut icon' href='img/icon-square.png')
  link(rel='stylesheet' href='css/index.css')
  meta(name='viewport' content='width=device-width, user-scalable=no')
body
  header
    div#icon
      img(src='img/icon.png')
      div#title
        h1 EText (Pre-Alpha)
        h2 Formal, yet efficient
    div#menu
      a(href='/platforms').un Platforms
      a(href='https://github.com/jak-inventions/EText').un Github
      a(href='/signin').un Sign in
  main
    h1.headline Messaging for all platforms
    section.blocks
      div.block
        div.icons
          i(class='fab fa-android' style='color: #3ddc84;')
          i(class='fab fa-windows' style='color: #00a8e8;')
          i(class='fab fa-linux' style='color: #050505;')
          i(class='fab fa-html5' style='color: #dd4b25;')
        h2 Cross-Platform
        p
          | EText is Cross-Platform, supporting, Android, Windows, Linux,
          | as well as a web version for any OS not supported.
      div.block
        div.icons
          i(class='fab fa-osi' style='color: #3da639; font-weight: bold;')
        h2 Open-Source
        p
          | EText is built with Nodejs, Express, Pug, and MongoDB.  Check it
          | out on github 
          a(href='https://github.com/jak-inventions/EText') here
          |.
      div.block
        div.icons
          i(class='fa fa-comment')
          span +
          i(class='fa fa-envelope')
        h2 Suitable for any Conversation
        p
          | EText mixes elements of texting and email making it suitable for
          | both formal and casual messaging.
    
  footer
    script(src='https://kit.fontawesome.com/9ff649492a.js' crossorigin='anonymous')
