head
  title EText | Login
  link(rel='shortcut icon' href='/img/icon-light-background.png')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  // CSS Imports
  link(rel='stylesheet' href='/css/index.css')
  link(rel='stylesheet' href='/css/auth.css')
  link(rel='stylesheet' href='/css/login.css')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap')
body
  header
    a(href='/') 
      img(src='./img/icon.svg', alt='EText')
  main
    form(action='/api/user/login' method='POST')
      h1 Login
      hr.medium
      input(type='email' name='email' placeholder='Email')
      input(type='password' name='password' placeholder='Password')
      a(href='/forgotPassword')#forgotPassword Forgot password
      button(type='submit') Login
      span#createAccount
        a(href='/register') Create an account
    if message
      div.message.red
        | #{message.text}
        a(onclick='deleteMessage(this)')
          strong X
  footer
    script(src='/js/index.js')
    script(src='/js/parseAlert.js')
