head
  title EText | Login
  link(rel='shortcut icon' href='img/icon.png')
  // CSS Imports
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet' href='css/login.css')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap')
body
  header
    section.left
      img(src='img/icon-clear.png' alt='EText')#icon
      div#title
        h1 EText
        h2 Formal, yet efficient
    section.right
      a Download
      a Login
  main
  footer
