head
  title EText | Login
  link(rel='shortcut icon' href='img/icon.png')
  // CSS Imports
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet' href='css/login.css')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap')
body
  header
  main
    article#loginDialogue
      h1 Login
      hr.small
      form(action='/api/user/login' method='POST')
        input(type='email' name='email' placeholder='Email')
        input(type='password' name='password' placeholder='Password')
        a(href='/forgotPassword')#forgotPassword Forgot password
        button(type='submit') Login
        span#createAccount
          a(href='/register') Create an account
  footer
