head
  title EText | Messaging
  link(rel='shortcut icon' href='/img/icon-light-background.png')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  // CSS Imports
  link(rel='stylesheet' href='/css/index.css')
  link(rel='stylesheet' href='/css/messaging.css')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap')
body
  nav
  main
    | Now you're logged in 
    form(action='api/user/logout' method='POST')
      button(type='submit') Logout
        
        
  footer
    script(src='/js/index.js')
