head
  title EText
  link(rel='shortcut icon' href='img/icon-square.png')
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet' href='css/platforms.css')
  meta(name='viewport' content='width=device-width, user-scalable=no')
body
  header
    div#icon
      a(href='/')
        img(src='img/icon.png')
      div#title
        h1 EText (Pre-Alpha)
        h2 Formal, yet efficient
    hr.mobileOnly.medium
    div#menu
      a(href='/').un Home
      div.divider |
      a(href='https://github.com/jak-inventions/EText').un Github
      div.divider |
      a(href='/signIn').un Sign in
  main
    h1.headline Platforms
    section.blocks
      div.block
        div.icons
          i(class='fab fa-android' style='color: #3ddc84;')
        h2
          u Android
        p
          | EText is availible for Android on the google play store
          button
            i(class='fa fa-android')
            |  Download
      div.block
        div.icons
          i(class='fab fa-windows' style='color: #00a8e8;')
        h2
          u Windows
        p
          | EText is availible for Windows
          br
          button
            i(class='fa fa-windows')
            |  Download
      div.block
        div.icons
          i(class='fab fa-linux' style='color: #050505;')
        h2
          u Linux
        p
          | EText is availible for Linux
          button
            i(class='fa fa-linux')
            |  Download
      div.block
        div.icons
          i(class='fab fa-html5' style='color: #dd4b25;')
        h2
          u Web Version
        p
          | In addition to the platforms supported, there is also a web version
          button
            i(class='fa fa-html5')
            |  Get Started
  footer
    script(src='https://kit.fontawesome.com/9ff649492a.js' crossorigin='anonymous')
