head
  title EText | Login
  link(rel='shortcut icon' href='img/icon.png')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  // CSS Imports
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet' href='css/register.css')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap')
body
  header
    div.left
      a(href='/')
        img(src='img/icon-clear.png')#icon
      span#title
        h1 EText
        h2 Formal, yet efficient
    div.right
      span#menu
        //a Thing 1
        //a Thing 2
  main
    form(action='/api/user/register' method='POST')#dialogue
      h1 Sign up
      hr.medium
      span#name
        input(type='text' name='firstName' placeholder='First name')
        input(type='text' name='lastName' placeholder='Last name')
      input(type='email' name='email' placeholder='Email')
      input(type='password' name='password' placeholder='Password')
      input(type='password' name='confirm' placeholder='Confirm password')
      button(type='submit') Login
      span#login
        | Already have an account? 
        a(href='/login') Login
  footer
