head
  title EText
  link(rel='shortcut icon' href='img/icon-square.png')
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet' href='css/signIn.css')
  meta(name='viewport' content='width=device-width, user-scalable=no')
body
  header
    a#backButton(href='/') ↩
  main
    section#card
      h1 
        u Sign in
      form(action='' method='post')
        input(placeholder='email' type='email')
        input(placeholder='password' type='password')
        a(href='/forgotPassword') forgot password?
        button(type='submit') Sign in
        span#createAccount
          a(href='signUp') Create an account
  footer
    script(src='https://kit.fontawesome.com/9ff649492a.js' crossorigin='anonymous')
