
/* Ids */

#alert{
  position: absolute;
  bottom: 25px;
  left: 50%-230px;
  width: 460px;
  padding: 20px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  font-size: 18px;
}

#alert.red{
  background-color: white;
  border-color: #b04141;
  color: #ff6161;
}

#alert.green{
  background-color: white;
  border-color: darkgreen;
  color: green;
}

#alert a{
  float: right;
  cursor: pointer;
}

/* Classes */

/* Tags */

body{
  background-color: #f4f4f4;
  margin: 0px;
}

button{
  cursor: pointer;
}

input,button{
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  transition: 0.25s border-color, 0.25s background-color;
}

hr{
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
}

hr.full{
  width: 100%;
}

hr.large{
  width: 75%;
}

hr.medium{
  width: 50%;
}

hr.small{
  width: 25%;
}

form{
  margin: 0px;
}

/* Other */

*{
  font-family: 'Open Sans', sans-serif;
}

*:focus{
  outline: none;
}

*:not(strong){
  font-weight: normal;
}

/* Mobile */

@media (max-width: 850px) {

}
