
/* Fonts */

@font-face{
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-family: 'Roboto';
}

/* Ids */

#icon{
  margin-left: 25px;
  display: inline;
}

#icon img{
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
}

#title{
  display: inline-block;
  vertical-align: middle;
  line-height: 125%;
  margin-left: 25px;
}

#menu{
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}

#menu a,button{
  margin-top: 0px;
  margin-right: 40px;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

#menu a:active.un:after{
  width: 50%;
}

#menu button{
  background: transparent;
  border-width: 2px;
  border-radius: 10px;
}

#menu button:hover{
  color: #579ff3;
  border-color: #579ff3;
}

#menu button:active{
  color: white;
  border-color: #579ff3;
  background: rgb(87, 159, 243);
}

/* Classes */

.headline{
  margin-top: 50px;
  text-align: center;
}

.blocks{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block{
  display: inline-block;
  width: 325px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s;
  cursor: default;
}

.block  h2{
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}

.block p{
  font-size: 18px;
  line-height: 150%;
}

.block .icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons *{
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #495057;
}

.icons span{
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}

.block:hover{
  box-shadow: 0px 0px 20px 5px #e2e2e2;
}

.un {
  display: inline-block;
}

.un:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 4px;
  background: white;
  transition: 0.3s;
}

.un:hover:after {
  width: 100%;
}

/* Tags */

header{
  border-bottom: 1px solid #e2e2e2;
  display: inline-block;
  width: 100vw;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #303030;
}

header *{
  color: white;
}

body{
  margin: 0px;
  padding: 0px;
  background: #f4f4f4;
}

button{
  border: 1px solid #e2e2e2;
  background: #f4f4f4;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

button:focus{
  outline: none;
}

i{
  color: #495057;
}

/* Other */

*{
  font-family: 'Roboto';
  font-weight: normal;
  color: #303030;
}

/* Mobile */
