
/* Ids */

#icon{
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}

#title{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

#title h1{
  font-size: 28px;
}

#title h2{
  font-size: 20px;
}

#menu{
  display: inline-block;
  vertical-align: middle;
}

/* Classes */

/* Tags */

body{
  background-color: #f4f4f4;
  margin: 0px;
}

header{
  display: inline-block;
  width: 100%;
  background-color: #6f68e4;
  color: white;
}

header .left{
  float: left;
}

header .right{
  float: right;
}

button{
  cursor: pointer;
}

input,button{
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  transition: 0.25s border-color, 0.25s background-color;
}

/* Other */

*{
  font-family: 'Open Sans', sans-serif;
}

*:focus{
  outline: none;
}

*:not(strong){
  font-weight: normal;
}

/* Mobile */
