
/* Ids */

#forgotPassword{
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
}

#createAccount{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

/* Classes */

/* Tags */

hr{
  border: 1px solid #e6e6e6;
}

hr.small{
  width: 25%;
}

/* Other */

/* Mobile */

@media (max-width: 850px) {

  #loginDialogue{
    width: 350px;
  }

  #loginDialogue input{
    font-size: 16px;
  }

}
