
/* Ids */

#icon{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 25px;
}

#loginDialogue{
  width: 500px;
  height: auto;
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
}

#loginDialogue h1{
  text-align: center;
  margin-top: 0px;
}

#loginDialogue input,button{
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 0px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s border-color, 0.5s background-color;
}

#loginDialogue input{
  width: 80%;
}

#loginDialogue input:focus{
  border-color: #1a73e8;
}

#loginDialogue button:focus{
  border-color: #1a73e8;
}

#loginDialogue button:hover{
  background-color: white;
}

#loginDialogue button:active{
  background-color: #e6e6e6;
  border-color: #b5b5b5;
}

/* Classes */

/* Tags */

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

hr{
  border: 1px solid #e6e6e6;
}

hr.small{
  width: 25%;
}

/* Other */

/* Mobile */
