
/* Ids */

#loginDialogue{
  width: 500px;
  height: auto;
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  margin-top: 100px;
}

#loginDialogue h1{
  text-align: center;
  margin-top: 0px;
}

#loginDialogue input,button{
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 0px;
}

#loginDialogue input{
  width: 80%;
}

#loginDialogue input:focus{
  border-color: #1a73e8;
}

#loginDialogue button:focus{
  border-color: #1a73e8;
}

#loginDialogue button:hover{
  background-color: white;
}

#loginDialogue button:active{
  background-color: #e6e6e6;
  border-color: #b5b5b5;
}

#loginDialogue a{
  color: #303030;
  text-decoration: underline;
  transition: 0.25s color, 0.25s text-decoation-color;
}

#loginDialogue a:hover{
  text-decoration: none;
}

#loginDialogue a:active{
  color: #1a73e8;
}

#loginDialogue form{
  margin: 0px;
}

#forgotPassword{
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
}

#createAccount{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

#icon{
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}

#title{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

#title h1{
  font-size: 28px;
}

#title h2{
  font-size: 20px;
}

#menu{
  display: inline-block;
  vertical-align: middle;
}

/* Classes */

.left{
  float: left;
}

.right{
  float: right;
}

/* Tags */

main{
  height: 100%;
}

hr{
  border: 1px solid #e6e6e6;
}

hr.small{
  width: 25%;
}

header{
  display: inline-block;
  width: 100%;
  background-color: #6f68e4;
  color: white;
}

/* Other */

/* Mobile */

@media (max-width: 850px) {

  #loginDialogue{
    width: 350px;
  }

  #loginDialogue input{
    font-size: 16px;
  }

}
