
/* Ids */

#name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#name input{
  display: inline-block;
  width: 42%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#login{
  display: block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* Classes */

/* Tags */

/* Other */

/* Mobile */

@media (max-width: 850px) {

  #name input{
    display: inline-block;
    width: 42.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

}
