
/* Fonts */

/* Ids */

#card{
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  width: auto;
  height: auto;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  background: white;
  box-shadow: 0px 0px 20px 5px #e2e2e2;
  border: 2px solid #e2e2e2;
  border-radius: 10px;
}

#card h1{
  font-size: 32px;
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
}

#card input[type=email], input[type=password]{
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 22px;
  border-radius: 5px;
  width: 350px;
}

#card button[type=submit]{
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#card form a{
  font-size: 18px;
}

#createAccount{
  display: block;
  text-align: center;
}

/* Classes */

/* Tags */

/* Other */

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile */

@media (max-width: 850px) {

  #card{
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;
  }

  #card input[type=email], input[type=password]{
    padding: 10px;
    font-size: 18px;
    width: 275px;
  }

}
