
/* Fonts */

@font-face{
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-family: 'Roboto';
}

/* Ids */

#title{
  display: inline-block;
  vertical-align: middle;
  line-height: 125%;
  margin-left: 25px;
}

#icon{
  margin-left: 25px;
  display: inline;
}

#icon img{
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
}

#menu{
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

#menu a, #menu button{
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

#menu a:active.un:after{
  width: 50%;
}

/* Classes */

.un {
  display: inline-block;
}

.un:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 4px;
  background: white;
  transition: 0.3s;
}

.un:hover:after {
  width: 100%;
}

.mobileOnly{
  display: none;
}

.divider{
  display: inline;
  font-size: 32px;
  cursor: default;
}

.headline{
  margin-top: 50px;
  text-align: center;
}

.blocks{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block{
  display: inline-block;
  width: 325px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s;
  cursor: default;
}

.block  h2{
  text-align: center;
  margin-top: 10px;
}

.block p{
  font-size: 18px;
  line-height: 150%;
}

.block .icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons *{
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #495057;
}

.icons span{
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}

.block:hover{
  box-shadow: 0px 0px 20px 5px #e2e2e2;
}

/* Tags */

body{
  margin: 0px;
  padding: 0px;
  background: #f4f4f4;
}

button{
  border: 1px solid #e2e2e2;
  background: #f4f4f4;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover{
  background: white;
}

button:focus{
  outline: none;
  border-color: #72a4f7;
}

button:active{
  background: #e0e0e0;
  border-color: #c9c9c9;
}

input{
  border: 1px solid #e2e2e2;
  transition: 0.5s;
}

input:focus{
  outline: none;
  border-color: #72a4f7;
}

i{
  color: #495057;
}

header{
  border-bottom: 1px solid #e2e2e2;
  display: inline-block;
  width: 100vw;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #303030;
}

header *{
  color: white;
}

hr.small{
  width: 25%;
}

hr.medium{
  width: 50%;
}

hr.large{
  width: 75%;
}

/* Other */

*{
  font-family: 'Roboto';
  font-weight: normal;
  color: #303030;
}

/* Mobile */

@media (max-width: 850px) {

  #menu{
    float: none;
    margin: 0px;
    margin-top: 25px;
    text-align: center;
  }

  #menu a{
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #menu a:active.un:after{
    width: 100%;
  }

  #icon img{
    display: block;
    margin: auto;
  }

  #title{
    display: inline;
    margin: 0px;
    text-align: center;
  }

  .mobileOnly{
    display: block;
  }

  .blocks{
    display: block;
  }

  .block{
    display: block;
    margin: auto;
    width: 250px;
    margin-bottom: 50px;
  }

  *{
    -webkit-tap-highlight-color: transparent;
  }

}
