/* Fonts */

/* Ids */

/* Classes */

.block button{
  font-size: 18px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

/* Tags */

/* Other */

/* Mobile */

@media (max-width: 850px) {

}
